.doctor-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background: #fff;
  transition: 0.3s;
  height: 150px; /* أو auto حسب محتوى الكارت */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doctor-card.selected {
  border-color: #0d6efd;
  box-shadow: 0 0 10px rgba(13, 110, 253, 0.3);
}

.doctor-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
}